body {
    font-family: 'Open Sans', sans-serif;
    max-width: 800px;
    margin: 1em auto;
}

@media print {
    body {
        font-size: 12px;
    }
    td {
        font-size: 12px;
    }
}

/* Links */
.resume a {
    text-decoration: none;
    color: inherit;
}

.resume a:visited {
    color: inherit;
}