/* Tables */
.resume table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.resume th {
    padding: 0.3em;
}

.resume td.note {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
    border: 0;
}

/* Language tables */
.resume td.level {
    border: 1px dashed #e9e9e9;
    padding: 0.3em;
}

.resume td.language {
    border: none;
}

.resume .languageLevelDescription {
    font-size: 0.8em;
    color: gray;
}

/* Header with personal info */
.resume .header {
    text-align: center;
}

.resume .nameInfo {
    text-transform: uppercase;
    font-weight: normal;
}

.resume .personalDescription {
    margin: 1.5em auto;
}

.resume .icon {
    margin: auto 10px;
}

/* Sections */
.resume .section {
    overflow: hidden;
}

.resume .section .name {
    text-align: center;
    border: 1px solid #DDD;
    border-left: 0;
    border-right: 0;
    padding: 5px 0;
}

.resume .section .content {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
}

.resume .section .heading {
    margin-bottom: 10px;
}

.resume .section .title {
    font-size: 1.25em;
    font-weight: bold;
}

.resume .section .subtitle {
    font-style: italic;
}

.resume .section .content .dates {
    grid-column: span 2;
    color: gray;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
}

.resume .section .content {
    margin-bottom: 1.25em;
}

.resume .section .content .dates .toDate {
    margin: 5px;
}

.resume .section .experienceEntry {
    padding-top: 1em;
    border-bottom: 1px dotted #e0e0e0;
    padding-bottom: 1em;
}

.resume .section .experienceEntryHeading {
    margin-bottom: 0.5em;
}

.resume .experienceDates {
    color: gray;
    font-size: 0.9em;
}

.resume .experienceEntryDetails {
    margin-top: 0.5em;
}

.resume .experienceDatesRange {
    font-weight: 500;
}

.resume .experienceEntry:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.resume .section .content .data {
    grid-column: span 10;
}
